.bg-color {
  background-color: red;
}

.header {
  padding-left: 0;
}

.title {
  font-size: 24px;
}

.fullscreen {
  min-height: 100vh;
  min-width: 100ch;
}

.transparent-bg {
  background-color: transparent;
}

.padding {
  padding: 0 32px 32px;
}
